#check_button{
    display: none;
}
#answer_box{
    background: rgb(213, 243, 205);
    text-align: left;
    padding: 10px 50px;
    box-shadow: 0px 0px 5px black;
    width: fit-content;
}
body{
    min-height: 100vh;
    background-image: url("gamee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} 
#Scores{
    background-color: rgb(51, 50, 50);
    width: fit-content;
    padding:10px 30px;
    position:fixed;
    top:10px;
    left:10px;
    font-size: 20px;
    border-radius:2px;
    box-shadow: 0px 0px 5px black;
    color:rgb(206, 159, 30)
}
hr{
    margin:2px;
}